html {
	background-color:olive;
}

body {
	border: 5px dotted black;
	box-sizing: border-box;
	border-width: 0 1px;
	font-family: Gill Sans, sans-serif;
	font-size: 2rem;
	margin: 0 auto;
	max-width: 700px;
	min-height: 100vh;
	padding: 4rem;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

ul {
	padding: 0;
}

ul li {
	padding: 1rem 0;
}

li {
	list-style-type: square;
}

h1 {
	font-family: American Typewriter, serif;
	color: orange;
}

.listing {
	padding-left: 100px;
}

#inputField {
	height: 40px;
	width: 160px;
	font-size: 2rem;
	margin-bottom: 
	}

#inputButton {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	}
.inputarea {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.done {
	text-decoration:line-through;
	color: darkgrey;
}
